*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100dvw;
    height: 100dvh;
    background-color: wheat;
}
#cardlist{
    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   
}
#card{
    width: 15em;
    height: 20em;
    border: 2px solid darkblue;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
#card img{
    width: 150px;
    height: 200px;
}